PORT=8080
MAINTENANCE_MODE=NO
NODE_ENV=development
JWT_SECRET=FSD^@*&ASD
EMAIL_ENABLED=NO
EMAIL_HANDLER=AWS
ACCESSKEYID=''
SECRETACCESSKEY=''
APIVERSION='2010-12-01'
REGION='us-east-2'
ENV_LANG="eu"

DB_AUTH_USERNAME=root
DB_AUTH_PASSWORD=root
DB_AUTH_NAME=auth
DB_AUTH_HOST='127.0.0.1'
DB_AUTH_DIALECT=mysql
DB_AUTH_PORT=3306

DB_PBAC_USERNAME=root
DB_PBAC_PASSWORD=root
DB_PBAC_NAME=pbac
DB_PBAC_HOST='127.0.0.1'
DB_PBAC_DIALECT=mysql
DB_PBAC_PORT=3306