<html>
<body>
  <h1>Welcome, {{name}}!</h1>
  <p>Thank you for signing up with our service. Your account details are:</p>
  <ul>
    <li>Username: {{username}}</li>
    <li>Email: {{email}}</li>
  </ul>
</body>
</html>